<%- include('partials/header') -%>
<section class="container py-5">
  <h1 class="text-center text-secondary mb-3">結帳</h1>
  <div class="form-row text-center justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="alert alert-primary rounded-pill">
        1. 填寫訂單資料
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="alert alert-primary rounded-pill">
        2. 訂購完成！
      </div>
    </div>    
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-8">
      <h2 class="text-center mb-3">訂單明細 </h2>
      <table class="table">
        <thead>
          <th>商品名稱</th>
          <th>數量</th>
          <th class="align-middle text-right">價格</th>
        </thead>
        <tbody>
         <% shoppingList.forEach(item => {%>
          <tr>
            <td class="align-middle"><%- item.name %></td>
            <td class="align-middle"><%- item.qty %></td>
            <td class="align-middle text-right">$<%- item.qty * item.price %></td>
          </tr>
          <% }); %>
        <tfoot>
          <tr>
            <td colspan="2" class="align-middle text-right">運費：</td>
            <td class="align-middle text-right">60.00</td>
          </tr>
          <tr>
            <td colspan="2" class="align-middle text-right border-0">總額：</td>
            <td class="align-middle text-right border-0">$ <%= total + 60 %> </td>
          </tr>
        </tfoot>
      </table>
      <div class="mt-5">
        <h2 class="text-center mb-3">買家資料</h2>
        <table class="table order-info">
          <tbody>
            <tr>
              <th class="text-right">訂單編號</th>
              <td class="align-middle"><%- orderInfo.orderId %></td>
            </tr>
            <tr>
              <th class="text-right">信箱</th>
              <td class="align-middle"><%- orderInfo.email %></td>
            </tr>
            <tr>
              <th class="text-right">姓名</th>
              <td class="align-middle"><%- orderInfo.customerName %></td>
            </tr>
            <tr>
              <th class="text-right">電話</th>
              <td class="align-middle"><%- orderInfo.phone %></td>
            </tr>
            <tr>
              <th class="text-right">地址</th>
              <td class="align-middle"><%- orderInfo.address %></td>
            </tr>
            <tr>
              <th class="text-right">運送方式</th>
              <td class="align-middle"><%- orderInfo.freight %></td>
            </tr>
          </tbody>
        </table>        
      </div>
      <div class="text-center">
        <a href="/" class="btn btn-warning">繼續逛逛</a>
      </div>      
    </div>
</section>

<%- include('partials/footer') -%>