<%- include('partials/header') -%>
<meta name="csrf-token" content="<%= csrfToken %>">
<section class="container">
  <div class="row flex-row-reverse">
    <div class="col-md-4">
      <div class="border border-info rounded-top">
        <h4 class="w-100 bg-info text-white text-center p-2">個人資料管理</h4>
        <ul class="user-list">
          <li>
            <a href="" data-toggle="modal" data-target="#userInfo">帳號資料</a>
          </li>
          <li>
            <a href="" data-toggle="modal" data-target="#changepwd">修改密碼</a>
          </li>
          <li>
            <a href="/logout">用戶登出</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 mb-2">
      <div class="border border-info">
        <h4 class="text-center bg-info text-white p-2">訂單紀錄</h4>
        <div class="user-record jusitfy-content-center">
          <table class="table text-center">
            <thead>
              <th nowrap width="250">訂單序號</th>
              <th width="100">日期</th>
              <th>狀態</th>
              <th>付款</th>
              <th>詳細</th>
              <th>總額</th>
            </thead>
            <tbody>
              <% shoppingHistory.forEach(item => { %>
              <tr>
                <td><%- item.orderId %></td>
                <td><%- moment(item.order_time).format('YYYY/MM/DD') %></td>
                <td><%- item.status %></td>
                <td><%- item.freight %></td>
                <td><a href="" class="order-detail" data-toggle="modal" data-id="<%- item.orderId %>"
                    data-target="#details"><i class="fas fa-clipboard-list"></i></a></td>
                <td nowrap>$ <%- item.totalPrice + 60 %> </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- account info modal -->
<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userInfo" aria-hidden="true">
  <div class="modal-dialog jusitfy-content-center align-items-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">帳號資料</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <th class="border-0">暱稱</th>
              <td class="border-0"><%- userInfo.username %></td>
            </tr>
            <tr>
              <th>電子信箱</th>
              <td><%- userInfo.email %></td>
            </tr>
            <tr>
              <th>電話</th>
              <td><%- userInfo.phone %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- account info modal -->
<div class="modal fade" id="changepwd" tabindex="-1" role="dialog" aria-labelledby="changepwd" aria-hidden="true">
  <div class="modal-dialog jusitfy-content-center align-items-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修改密碼</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" action="" method="POST" data-toggle="validator">
          <div class="col form-group">
            <input type="password" class="form-control rounded" id="newpwd" placeholder="*新密碼（8-12 字英數）"
              pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,12}$" data-error="請填入格式為 8-12 字英數密碼 （至少含一英文字母）" required>
            <small class="text-left help-block with-errors text-danger"></small>
          </div>
          <div class="col form-group">
            <input type="password" class="form-control rounded" id="pwdconfirm" placeholder="*請再次輸入密碼"
              data-match="#newpwd" data-error="請再次輸入密碼" required>
            <small class="text-left help-block with-errors text-danger"></small>
          </div>
          <div class="text-center">
            <input class="col-6 btn btn-primary jusitfy-content-center" id="sendPwd" type="submit" value="確認送出">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- details modal -->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="changepwd" aria-hidden="true">
  <div class="modal-dialog jusitfy-content-center align-items-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">購物明細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body jusitfy-content-center">
        <table class="table table-responsive-md text-center">
          <thead>
            <th width="200">品名</th>
            <th>數量</th>
            <th>單價</th>
            <th>總額</th>
          </thead>
          <tbody id="order-detail-list">

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
<script src="javascripts/validator.min.js"></script>
<script>
  $(document).ready(function () {
    $('.order-detail').on('click', function (e) {
      e.preventDefault();
      const spinner = `
      <div class="spinner-border mx-auto" role="status">
          <span class="sr-only">Loading...</span>
      </div>`;
      $('#order-detail-list').html(spinner);
      const orderId = $(this).data('id');
      $.ajax({
        url: '/user/getOrderInfo/' + orderId,
        method: 'POST'
      }).done(function (res) {
        if (res.status) {
          const datas = res.data;
          let content = '';
          datas.forEach(item => {
            content += `
              <tr>
                <td>${item.name}</td>
                <td>${item.qty}</td>
                <td>${item.price}</td>
                <td>${item.qty * item.price}</td>
              </tr>
            `;
          });
          $('#order-detail-list').html(content);
        }
      });
    });

    $('#sendPwd').on('click', function (e) {
      e.preventDefault();
      $(this).attr("disabled", true);
      const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      const data = {
        newPwd: $('#newpwd').val(),
        pwdConfirm: $('#pwdconfirm').val()
      };
      const encodeData = encodeURIComponent(JSON.stringify(data));
      $.ajax({
        url: '/user/updatePassword?&data=' + encodeData,
        headers: {
          'CSRF-Token': token
        },
        method: 'POST'
      }).done(function (res) {
        alert(res.msg);
        if (res.status) {
          location.reload();
        }
        $('#sendPwd').removeAttr("disabled");
      });
    });
  });
</script>